<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.comment %></li>
<% end %>

<%= link_to 'Add a new Bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back to Lists', lists_path %>
